<app-header></app-header>

<div class="container-main">
  <div class="left-right-main">
    <div class="box-main left-box-main">
      <h2 class="h2-main">Equipo A</h2>
      <div *ngFor="let student of studentArrayA" class="student-item-main">
        {{ student.name }}
      </div>
    </div>
    <div class="vs-main">VS</div>
    <div class="box-main right-box-main">
      <h2 class="h2-main">Equipo B</h2>
      <div *ngFor="let student of studentArrayB" class="student-item-main">
        {{ student.name }}
      </div>
    </div>
  </div>

  <div class="selected-students">
    <h3>Alumno seleccionado:</h3>
    <div class="selected-student">
        <p *ngIf="selectedStudentA" class="student-info">Equipo A: <span class="student-name">{{ selectedStudentA.name }}</span></p>
        <p *ngIf="selectedStudentB" class="student-info">Equipo B: <span class="student-name">{{ selectedStudentB.name }}</span></p>
        <button class="select-button" (click)="seleccionarAlumno()">Ejecutar</button>
    </div>
</div>


<div class="eliminated-students">
    <h3>Alumnos Eliminados:</h3>
    <div *ngFor="let eliminated of eliminatedStudents" class="eliminated-student">
        <span class="eliminated-team">{{ eliminated.team }}:</span> <span class="eliminated-name">{{ eliminated.student.name }}</span>
    </div>
</div>
  
</div>
